/* ----Font----- */
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Akaya+Telivigala&family=Calistoga&family=Cormorant+Garamond:ital,wght@1,500&family=Elsie+Swash+Caps&family=Fira+Sans&family=Frijole&family=Merienda+One&family=Nosifer&family=PT+Serif:ital@1&family=Playfair+Display:wght@500&family=Rajdhani:wght@300&family=Rubik+Microbe&family=Sail&family=Sansita+Swashed&family=Yusei+Magic&display=swap');
/* ----colors---- */
:root{
  --Bgcolor:#371B58;
  --lightpurple:#7858A6;
  --White:#fcfcfc;
  --Darkpurple:#4C3575
}

*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color: var(--Bgcolor);
    font-family: 'Playfair Display', serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
header{
  width: 85%;
  height: 85%;
  border: 1px groove white;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
}
header .menu-side , .song-side{
 position: relative;
 height: 90%;
 width: 20%;
 background-color: var(--Darkpurple);
 box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
 /* box-shadow: rgba(0, 0, 0, 0.4) 3px 2px 4px, rgba(0, 0, 0, 0.3) 3px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
 color: var(--White);
}
header .song-side{
  width: 80%;
  background-color: var(--lightpurple);
}
header .player{
  width: 100%;
  height: 10%;
  background-color: var(--Darkpurple);
}
header .menu-side h1{
  font-size: 25px;
  margin: 15px 0px 0px 20px;
  font-weight: 500;
}